body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	padding: rem(30) rem(10);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	z-index: 150;
	pointer-events: none;
	&__close {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: rem(16);
		&::before{
			content:'\e900';
			@extend %ic;
			display: block;
			font-size: rem(14);
			color: #DBDBDB;
			transition: color 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				&::before{
					color: $red;
				}
			}
		}
	}
	&__body {
		@include adaptiveValue("padding-left", 68,0 , $containerWidth, $minWidth, 1);
		@include adaptiveValue("padding-right", 68,0 , $containerWidth, $minWidth, 1);
	}
	&__button {
		display: flex;
		justify-content: center;
	}
}
.popup_show {
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	.popup_hide &{
		visibility: hidden;
		transform: scale(0);
	}
	transition: transform 0.3s ease 0s;
	background-color: white;
	padding: rem(24) rem(24) rem(60);
	width: 100%;
	max-width: rem(550);
	border-radius: rem(11);
	.lock & {
		visibility: visible;
	}
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}