@use "sass:math";
@import "../../scss/utils.scss";

.section {
	position: relative;
	@include adaptiveValue("padding-top", 80, 30, $containerWidth, $minWidth, 1);
	@media (min-width: $mobile) {
		@include adaptiveValue("padding-bottom", 80, 30, $containerWidth, $minWidth, 1);
		@include adaptiveValue("margin-bottom", 120, 30, $containerWidth, 768, 1);
	}
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: percent(825, 1920);
		height: 100%;
		background: $blue;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	& > .container {
		@media (min-width: $pc) {
			display: contents;
		}
	}
	.grid {
		display: grid;
		grid-template-columns: 1fr percent(825, 1920);
		align-items: center;
		@include adaptiveValue("gap", 70, 32, $containerWidth, 1200, 1);
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
	.body {
		width: 100%;
		@media (min-width: $pc) {
			grid-column: 1/-1;
			grid-row: 1/2;
		}
		@media (max-width: $pc) {
			& > .container {
				display: contents;
			}
		}
	}
	.title {
		max-width: rem(772);
		@include adaptiveValue("margin-bottom", 30, 14, $containerWidth, $minWidth, 1);
	}
	.text {
		max-width: rem(772);
	}
	.achives {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: center;
		justify-items: center;
		gap: rem(80);
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			width: 100vw;
			background: $blue;
			@media (min-width: $mobile) {
				display: none;
			}
		}
		@media (min-width: $pc) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		@media (max-width: $pc) and (min-width: $mobile) {
			grid-template-columns: 1fr;
			gap: rem(20);
			transform: translateX(rem(15));
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue("padding-top", 80, 30, $containerWidth, $minWidth, 1);
			@include adaptiveValue("padding-bottom", 80, 30, $containerWidth, $minWidth, 1);
		}
		@media (max-width: em(575.98)) {
			grid-template-columns: 1fr;
			gap: rem(20);
		}
	}
	.achive {
		display: grid;
		text-align: center;
		@include adaptiveValue("width", 276, 200, $containerWidth, $minWidth, 1);
		.achiveYear {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			font-weight: 700;
			line-height: math.div(46, 48);
			word-break: break-word;
			@include adaptiveValue("font-size", 48, 36, $containerWidth, $minWidth, 1);
			&::before,
			&::after {
				content: "";
				display: inline-block;
				background: url("../../../public/img/about/olimp.svg") center left / contain no-repeat;
				padding-right: rem(4);
				@include adaptiveValue("min-width", 34, 30, $containerWidth, $minWidth, 1);
				@include adaptiveValue("min-height", 58, 50, $containerWidth, $minWidth, 1);
			}
			&::after {
				transform: scale(-1, 1);
			}
		}
		.achiveTitle {
			line-height: 121%;
			margin: 0 auto;
			word-break: break-word;
			@include adaptiveValue("font-size", 16, 14, $containerWidth, $minWidth, 1);
			@include adaptiveValue("width", 187, 131, $containerWidth, $minWidth, 1);
			@include adaptiveValue("margin-top", -4, -8, $containerWidth, $minWidth, 1);
		}
	}
}
